@model PMI.Models.Post

@{
    ViewBag.Title = GlobalResources.SiteTitle;
    Layout = "~/Views/Shared/_Onepage.cshtml";
}

@section javascripts {
}

<div class="row" id="menu">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="active">@Html.ActionLink(@MainPageResources.HomeMenu, "Index", "Home")</li>
                <li>@Html.ActionLink(@MainPageResources.NewsMenu, "AllNews", "Home")</li>
                <li>@Html.ActionLink(@MainPageResources.WhoWeAreMenu, "Index", "WhoWeAre", new { area = "Portal" }, null)</li>
                <li>@Html.ActionLink(@MainPageResources.WhatWeDoMenu, "Index", "Programs", new { area = "Portal" }, null)</li>
                <li><a href="#">@MainPageResources.ContactUsMenu</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="#">@MainPageResources.PublicMemberMenu</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div id="headline" class="span8">
        @if (!String.IsNullOrEmpty(Model.image))
        {
            <img src="@Url.Content(Model.image)" />
        }
        <h1>@Model.culturedTitle</h1>
        <p>
            @Html.SanitizeHTML(Model.getContentSummary())
        </p>
        <p>
            @Html.ActionLink("read more...", "News", new { id = Model.id }, new { @class = "read-more" })
        </p>
    </div>
    <div id="social-media1" class="span4">
        <h3>@MainPageResources.TalkToUs</h3>
        <div class="icons">
            <a href="https://www.facebook.com/palangmerah"><img src="@Url.Content("~/Content/images/icons/icon-facebook.png")" /></a>
            <a href="https://twitter.com/palangmerah"><img src="@Url.Content("~/Content/images/icons/icon-twitter.png")" /></a>
            <a href="#"><img src="@Url.Content("~/Content/images/icons/icon-googleplus.png")" /></a>
            <a href="#"><img src="@Url.Content("~/Content/images/icons/icon-youtube.png")" /></a>
        </div>
    </div>
    <div id="social-media2" class="span4">
        <h4>@MainPageResources.WhatTheySaid</h4>
        <img src="@Url.Content("~/Content/images/video-placeholder.jpg")" />
    </div>
</div>

<div class="row">
    <div id="tag-cloud" class="span4">
        <h4>@MainPageResources.WhatPeopleTalkAbout</h4>
        <div id="cloud">
            <a href="#">Red Cross</a> 
            <span style="font-size: x-large;"><a href="#">aid</a></span> 
            <a href="#">clean water</a> 
            <span style="font-size: large;"><a href="">camp</a></span> 
            <a href="">disaster</a> 
            <a href="">donation</a> 
            <span style="font-size: larger;"><a href="">care</a></span>
            <a href="#">alert</a> 
            <a href="">movie</a> 
            <a href="">risk</a> 
            <span style="font-size: xx-large;"><a href="">Indonesia</a></span>
        </div>
    </div>
    <div id="content" class="span4">
        <h4>@MainPageResources.OurTopic</h4>
        <p>
        <a href="#">News</a> <br />
        <a href="#">Events</a> <br />
        <a href="#">Press Release</a> <br />
        <a href="#">Donation</a> 
        </p>
    </div>
    <a href="#" class="span4">
        <div id="education">
            <img src="@Url.Content("~/Content/images/book.png")" width="65px" /> @MainPageResources.LearnWithUs
        </div>
    </a>
</div>

<div class="row hero-unit" id="public-info">
    <h1>@MainPageResources.PublicInfoTitle</h1>
    <p>
        @MainPageResources.PublicInfoDesc
    </p>
    <p class="buttons">
        <a class="btn btn-primary btn-large">@MainPageResources.Reporting</a>
        <a class="btn btn-info btn-large">@MainPageResources.Finance</a>
        <a class="btn btn-success btn-large">@MainPageResources.Donation</a>
        <a class="btn btn-inverse btn-large">@MainPageResources.Others</a>
    </p>
</div>

<div class="row">
    <div id="sponsor" class="span6">
        <h2>@MainPageResources.Sponsors</h2>
        <div id="sponsor-list">
            <img src="http://i.imgur.com/29Rhn.png" /> <br /><br />
            <img src="http://i.imgur.com/OHm0Q.png" />
        </div>
    </div>
    <div id="site-map" class="span6">
        <div class="span6" id="map-left">
            <h4>
                @MainPageResources.SiteMap</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Donation</a>
                    <ul>
                        <li><a href="#">Public Donation</a></li>
                        <li><a href="#">Annual Donation</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Reports</a>
                    <ul>
                        <li><a href="#">Annual Report</a></li>
                        <li><a href="#">Monthly Report</a></li>
                        <li><a href="#">Weekly Report</a></li>
                    </ul>
                </li>
                <li><a href="#">Finance</a></li>
            </ul>
        </div>
        <div class="span6" id="map-right">
            <h4>@MainPageResources.OtherMenu</h4>
            <ul>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Dolor</a>
                    <ul>
                        <li><a href="#">sit</a></li>
                        <li><a href="#">amet</a></li>
                        <li><a href="#">wos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Et cetera</a>
                    <ul>
                        <li><a href="#">Lain</a></li>
                        <li><a href="#">Lain</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <ul class="nav">
                <li>@Html.ActionLink(MainPageResources.AdministrationMenu, "Index")</li>
                <li>@Html.ActionLink(MainPageResources.TermsMenu, "Index")</li>
                <li>@Html.ActionLink(MainPageResources.HelpMenu, "Index")</li>
                <li>@Html.ActionLink(MainPageResources.InformationMenu, "Index")</li>
            </ul>
            <ul class="nav pull-right">
                <li>@Html.ActionLink(MainPageResources.AuthenticationMenu, "LogOn", "Account")</li>
            </ul>
        </div>
    </div>
</div>
