@model IEnumerable<PMI.Models.Post>

@section stylesheet{
    <link href="@Url.ThemeContent("~/Content/post.css")" rel="stylesheet" type="text/css">
    <link href="@Url.ThemeContent("~/Content/post-responsive.css")" rel="stylesheet" type="text/css">
}

@{
    ViewBag.Title = GlobalResources.SiteTitle;

    var peristiwa = Model.Where(p => p.Category1.desc.Equals("Peristiwa"));
    var headline = Model.Where(p => p.Category1.desc.Equals("Berita Utama")).FirstOrDefault();
    var utama = Model.Where(p => p.Category1.desc.Equals("Berita Utama")).Skip(1);
    var pers = Model.Where(p => p.Category1.desc.Equals("Siaran Pers"));
}

<div class="span4 hidden-phone" id="peristiwa-container">
    <div class="kategori">@ViewBag.Event</div>
    @foreach (var post in peristiwa)
    {
        <div class="post peristiwa">
            @if (!String.IsNullOrEmpty(post.image))
            {
                <img src="@Url.Content(post.image)" class="gambar-post" />
            }
            <h1>@post.title</h1>
            <span class="post-info">@post.created</span>
            <div class="post-summary">
                @Html.SanitizeHTML(post.getContentSummary()) @Html.ActionLink("read more", "News", new { id = post.id }, new { @class = "read-more" })
            </div>
        </div>
    }
</div>

<div id="utama" class="span8 post">
    <div class="kategori" id="kategori-utama">@ViewBag.Headline</div>
    <div id="utama-content">
        @if (!String.IsNullOrEmpty(headline.image))
        {
            <img src="@Url.Content(headline.image)" class="gambar-post" />
        }
        <h1>@headline.title</h1>
        <span class="post-info">@headline.created</span>
        <div class="post-summary">
            @Html.SanitizeHTML(headline.getContentSummary()) @Html.ActionLink("read more", "News", new { id = headline.id }, new { @class = "read-more" })
        </div>
    </div>
</div>

<div class="span4 hidden-phone" id="siaran-pers-container">
    <div class="kategori">@ViewBag.PressRelease</div>
    @foreach (var post in pers)
    {
        <div class="post siaran-pers">
            @if (!String.IsNullOrEmpty(post.image))
            {
                <img src="@Url.Content(post.image)" class="gambar-post" />
            }
            <h1>@post.title</h1>
            <span class="post-info">@post.created</span>
            <div class="post-summary">
                @Html.SanitizeHTML(post.getContentSummary()) @Html.ActionLink("read more", "News", new { id = post.id }, new { @class = "read-more" })
            </div>
        </div>
    }
</div>

<div class="span4" id="utama-container">
    <div class="kategori">@ViewBag.Headline</div>
    @foreach (var post in utama)
    {
        <div class="post utama">
            @if (!String.IsNullOrEmpty(post.image))
            {
                <img src="@Url.Content(post.image)" class="gambar-post" />
            }
            <h1>@post.title</h1>
            <span class="post-info">@post.created</span>
            <div class="post-summary">
                @Html.SanitizeHTML(post.getContentSummary()) @Html.ActionLink("read more", "News", new { id = post.id }, new { @class = "read-more"})
            </div>
        </div>
    }
</div>
