@model PMI.Models.Post

@section stylesheet{
    <link href="@Url.ThemeContent("~/Content/singlepost.css")" rel="stylesheet" type="text/css">
}

@{
    ViewBag.Title = "Menampilkan post " + @Model.title;
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="form-actions">
        @Html.ActionLink("Kembali ke daftar tulisan", "Index", "Post", new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-warning" })
    </div>

    <div id="single-post" class="span8">
        <h1>@Html.DisplayFor(model => model.title)</h1>
        <span id="single-post-info">
            ditulis: @Html.DisplayFor(model => model.created) | diperbaharui: @Html.DisplayFor(model => model.updated)
            <span class="post-category">@Html.DisplayFor(model => model.Category1.desc)</span>
        </span>
        <div id="single-post-content">
            @Html.SanitizeHTML(Model.content)
        </div>
    </div>
</fieldset>
