@model PMI.Models.Post

@section stylesheet{
    <link href="@Url.ThemeContent("~/Content/singlepost.css")" rel="stylesheet" type="text/css">
    <link href="@Url.ThemeContent("~/Content/singlepost-responsive.css")" rel="stylesheet" type="text/css">
}

@{
    ViewBag.Title = @PostAdminResources.PostDeletionTitle + @Model.title;
}

<h3>@PostAdminResources.PostDeletionMessage "@Model.title"?</h3>
<fieldset>
    <legend>@PostAdminResources.PostContent:</legend>
    
    <div id="single-post" class="span8">
        <h1>@Html.DisplayFor(model => model.title)</h1>
        <span id="single-post-info">
            @PostAdminResources.PostCreated: @Html.DisplayFor(model => model.created) | @PostAdminResources.PostUpdated: @Html.DisplayFor(model => model.updated)
            <span class="post-category">@Html.DisplayFor(model => model.Category1.desc)</span>
        </span>
        <div id="single-post-content">
            @Html.SanitizeHTML(Model.content)
        </div>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">@PostAdminResources.ButtonDelete</button>
        @Html.ActionLink(@PostAdminResources.ButtonBackToList, "Index", "Post", new { @class = "btn" })
    </div>
}
