@model PMI.Models.Post

@section stylesheet{
    <link href="@Url.ThemeContent("~/Content/singlepost.css")" rel="stylesheet" type="text/css">
    <link href="@Url.ThemeContent("~/Content/singlepost-responsive.css")" rel="stylesheet" type="text/css">
}

@{
    ViewBag.Title = @PostAdminResources.ViewTitle + @Model.title;
}

<fieldset>
    <legend>@PostAdminResources.ViewTitle "@Model.title"</legend>

    <div class="form-actions">
        @Html.ActionLink(@PostAdminResources.ButtonBackToList, "Index", "Post", new { @class = "btn btn-primary" }) |
        @Html.ActionLink(@PostAdminResources.ActionEdit, "Edit", new { id = Model.id }, new { @class = "btn btn-warning" })
    </div>

    <div id="single-post" class="span8">
        <h1>@Html.DisplayFor(model => model.title)</h1>
        <span id="single-post-info">
            @PostAdminResources.PostCreated: @Html.DisplayFor(model => model.created) | @PostAdminResources.PostUpdated: @Html.DisplayFor(model => model.updated)
            <span class="post-category">@Html.DisplayFor(model => model.Category1.desc)</span>
        </span>
        <div id="single-post-content">
            @if (!String.IsNullOrEmpty(Model.image))
            {
                <img src="@Url.Content(Model.image)" class="gambar-post" />
            }
            @Html.SanitizeHTML(Model.content)
        </div>
    </div>
</fieldset>
