@model IPagedList<PMI.Models.Post>

@{
    ViewBag.Title = @PostAdminResources.ListTitle;
    string titleSort = ViewBag.TitleSort == "title-desc" ? "\u25BC" : "\u25B2";
    string createdSort = ViewBag.CreatedSort == "created-desc" ? "\u25BC" : "\u25B2";
    string updatedSort = ViewBag.UpdatedSort == "updated-asc" ? "\u25B2" : "\u25BC";
}

<h2>@PostAdminResources.ListTitle</h2>

<p>
    @Html.ActionLink(@PostAdminResources.NewPost, "Create", "Post", new { @class = "btn btn-primary" })
</p>

<table class="table">
<thead>
    <tr>
        <th colspan="7">
        @using (Html.BeginForm("Index", "Post", FormMethod.Post, new { @class = "form-search" }))
        { 
            <div class="input-prepend">
                <span class="add-on"><i class="icon-search"></i></span>@Html.TextBox("filter", ViewBag.CurrentFilter as string, new { @id = "prependInput", @class = "search-query", @placeholder = @PostAdminResources.Search })
            </div>
            @Html.ActionLink(@PostAdminResources.ClearFilter, "Index", new { page = Request.Params["page"], sort = ViewBag.CurrentSort }, new { @class = "btn" })
        }
        </th>
    </tr>
    <tr>
        <th>
            @Html.ActionLink(titleSort, "Index", new { sort = ViewBag.TitleSort, currentFilter = ViewBag.CurrentFilter })
            @PostAdminResources.PostTitle
        </th>
        <th>
            @Html.ActionLink(createdSort, "Index", new { sort = ViewBag.CreatedSort, currentFilter = ViewBag.CurrentFilter })
            @PostAdminResources.PostCreated
        </th>
        <th>
            @Html.ActionLink(updatedSort, "Index", new { sort = ViewBag.UpdatedSort, currentFitler = ViewBag.CurrentFitler })
            @PostAdminResources.PostUpdated
        </th>
        <th>
            @PostAdminResources.PostCategory
        </th>
        <th>
            @PostAdminResources.PostWriter
        </th>
        <th>
            @PostAdminResources.PostContent
        </th>
        <th></th>
    </tr>
</thead>

<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.culturedTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category1.culturedDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.writer)
        </td>
        <td nowrap="wrap" style="width: 300px; white-space: inherit;">
            @Html.SanitizeHTML(item.getContentSummary())
        </td>
        <td>
            @Html.ActionLink(@PostAdminResources.ActionEdit, "Edit", new { id=item.id }) |
            @Html.ActionLink(@PostAdminResources.ActionView, "Details", new { id=item.id }) |
            @Html.ActionLink(@PostAdminResources.ActionDelete, "Delete", new { id=item.id })
        </td>
    </tr>
}
</tbody>
<tfoot>
    <tr>
        <td colspan="7">@Html.PagedListPager(Model, page => Url.Action("Index", new {page, currentFilter = ViewBag.CurrentFilter, sort = ViewBag.CurrentSort}))</td>
    </tr>
</tfoot>
</table>
