@model IEnumerable<PMI.Models.Post>

@section stylesheet {
    <style type="text/css">
        #post-list td, #post-list th
        {
            max-width: 80px;
        }
    </style>
}

@{
    ViewBag.Title = "Index";
}

<h2>Daftar Tulisan</h2>

<p>
    @Html.ActionLink("Tambah Baru", "Create", "Post", new { @class = "btn btn-info" })
</p>

<table class="table" id="post-list">
<thead>
    <tr>
        <th>
            Judul Berita
        </th>
        <th>
            Waktu Penulisan
        </th>
        <th>
            Update Terakhir
        </th>
        <th>
            Kategori
        </th>
        <th>
            Penulis
        </th>
        <th>
            Isi
        </th>
        <th></th>
    </tr>
</thead>

<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category1.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aspnet_Users.UserName)
        </td>
        <td nowrap="wrap" style="width: 300px">
            @Html.Raw(PMI.Utils.HtmlUtility.SanitizeHtml(item.getContentSummary()))
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Tampilkan", "Details", new { id=item.id }) |
            @Html.ActionLink("Hapus", "Delete", new { id=item.id })
        </td>
    </tr>
}
</tbody>
</table>
