@model PMI.Models.Category

@{
    ViewBag.Title = @CategoryAdminResources.CategoryDeleteTitle + @Model.culturedDesc;
}

<fieldset>
    <legend>@CategoryAdminResources.CategoryDeleteMessage "@Html.DisplayFor(model => model.culturedDesc)" ?</legend>
</fieldset>
@using (Html.BeginForm()) {
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">@CategoryAdminResources.ButtonDeleteCategory</button>
        @Html.ActionLink(@CategoryAdminResources.ButtonBackToList, "Index", null, new { @class = "btn" })
    </div>
}
