@model IEnumerable<PMI.Models.Category>

@{
    ViewBag.Title = @CategoryAdminResources.ListTitle;
}

<h2>@CategoryAdminResources.ListTitle</h2>

<p>
    @Html.ActionLink(@CategoryAdminResources.ButtonNewCategory, "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
<thead>
    <tr>
        <th>
            @CategoryAdminResources.CategoryDescription
        </th>
        <th>
            @CategoryAdminResources.EnglishCategoryDescription
        </th>
        <th></th>
    </tr>
</thead>

<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.englishDesc)
        </td>
        <td>
            @Html.ActionLink(@CategoryAdminResources.ActionEdit, "Edit", new { id=item.id }) |
            @Html.ActionLink(@CategoryAdminResources.ActionDelete, "Delete", new { id=item.id })
        </td>
    </tr>
}
</tbody>
</table>
