<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.ThemeContent("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.ThemeContent("~/Content/main.css")" rel="stylesheet" type="text/css" />
    @if (IsSectionDefined("stylesheet"))
    { 
        @RenderSection("stylesheet", false)
    }

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>

    @if (IsSectionDefined("javascripts"))
    { 
        @RenderSection("javascripts", false)
    }
</head>
<body>
    <div class="container-fluid">
        <a href="@Url.Action("Index", "Home", new { area = "" })">
            <img src="@Url.Content("~/Content/images/logo-pmi.png")" id="site-logo" title="Palang Merah Indonesia"></a>

            @Html.Action("Menu", "Navigation", new { controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue, action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue, area = "" })
        
        <div class="row-fluid">
            @RenderBody()
        </div>
        <div class="row-fluid footer">
            @Html.Partial("_FooterPartial")
        </div>
    </div>
</body>
</html>
